# Ignore files, but look through all directories
*
!*/

# Src Files
!*.cpp
!*.h

# Cmake files
!CMakeLists.txt
!*.cmake

# Git
!.git*

# CLion files
.idea/

# Build files
cmake-build-debug/
bin/

# Readme
!README.md